<div class="mg-table mg-table--relations mg-relations">
  <div class="mg-table__head">
    <span>□</span><span class="col-name">앵커 이름</span><span>운명점</span><span>속성</span><span>상흔</span><span>메모</span>
  </div>
  {{#each anchors}}
  <div class="mg-table__row" data-item-id="{{this.id}}">
    <span class="col-check">
      <span class="mg-check {{#if this.system.encumbrance}}is-on{{/if}}" data-action="toggle-anchor" data-item-id="{{this.id}}">{{#if this.system.encumbrance}}✓{{/if}}</span>
    </span>
    <span class="col-name {{#unless this.name}}col-empty{{/unless}}">{{#if this.name}}{{this.name}}{{else}}—{{/if}}</span>
    <span>{{this.system.fate}}</span>
    <span>{{this.system.attr}}</span>
    <span class="col-check">
      <span class="mg-check {{#if this.system.scar}}is-on{{/if}}" data-action="toggle-scar" data-item-id="{{this.id}}">{{#if this.system.scar}}✓{{/if}}</span>
    </span>
    <span class="col-memo {{#unless this.system.memo}}col-empty{{/unless}}">{{#if this.system.memo}}{{this.system.memo}}{{else}}—{{/if}}</span>
  </div>
  {{/each}}
  <div class="mg-table__add" data-action="add-anchor">＋</div>
</div>

<label class="mg-field mg-field--wide">
  <span class="mg-field__mark">❖</span>
  <span class="mg-field__label">의무</span>
  <input class="mg-field__value" type="text" name="system.mission" value="{{system.mission}}" placeholder="—" />
</label>
